.login-container{
    box-shadow: 0 0 5px rgb(0,0,0,0.4);
    text-align: center;
    border-radius: 3px;
    padding: 100px;
}
.icon-content{
    width: 100%;
    border: 1px solid rgb(189, 185, 185);
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 30px;
    background:#fff;
}


@media only screen and (max-width:688px){
    .login-container{
        padding: 5%;
    }
    .icon-content{
        width: 100%;
    }
}