.banner-container{
    width: 100%;
    background:url('https://siffahim.github.io/travel-zone/image/travle01.jpg');
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}